*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

.el-main{
    background-image: url(../img/main_back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: Kai;
    src: url(../font/Kai.ttf);
}